*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
span {
    color: darkkhaki;
    text-shadow: 1px 1px black;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none ;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/images/iotnbo.jpg);
    background-size: cover;
    background-repeat: no-repeat
}
.header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items:center;
    padding-top: 20px;
}
.header .navbar .logo h1{
    color: #000;
    font-size: 50px;
    margin-left: 100px;
}
.header .navbar .menu ul{
    margin-left: 210px;
}
.header .navbar .menu ul li{
    display: inline-block;
    margin-right: 30px;
    align-items: center;
    padding: 5px;
}
.header .navbar .menu ul li a{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}
.header .navbar .menu ul li a:hover{
    color: darkkhaki;
}
.header .contact-info{
    margin-left: 350px;
}
.header .contact-info ul{
    margin-left: 41px;
    display: inline-block;
}
.header .contact-info ul li{
    display: inline-block;
}
.header .contact-info ul li a{
    color: #000;
    font-size: 20px;
    transition: all 0.3s;
}
.header .contact-info ul li a:hover{
    color: darkkhaki;
}
.header .contact-info ul li a.sep{
    margin: 0 28px;
    opacity: .5;
}
.container{
    max-width: 90%;
    padding: 10px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    column-gap: 35px;
    box-shadow: 10px;
}
.item1 ,.item2 
,.item3 {
    background: transparent;
    padding: 20px;
    border: black 1px inset;
    text-align: center;
    border-radius: 10%;
    letter-spacing: 1px;
    transition: 0.5s;
    opacity: 0.2;
    font-size: 20px;
    color: gray;
    transition: transform 400ms;
    position: relative;
    will-change: transform;
    transition-delay: 300ms;
    transition: opacity 500ms;
    text-shadow: 1px 1px 1px black;
    
}

.ordoviz{
    max-width: 250px;
    border-radius: 5%;
    margin: 5px;
}
.item1 h1{
    margin-bottom: 15px;
}
.item2 h1{
    margin-bottom: 15px;
}
.item3 h1{
    margin-bottom: 60px;
}
.item1 p{
    margin: 10px;
}
.item2 p{
    margin: 50px;
}
.item3 p{
    margin: 30px;
}
.item1:hover, .item2:hover, .item3:hover, .item1 .item2 .item3 {
    transform: translateY(-15px);
    transition: transform 1s;
    opacity: 1;
    transition-delay: 0ms;
    transition: opacity 600ms;
    color: white;
}